<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.dao.WorkcheckDAO">
    <resultMap id="getMap" type="cc.model.Workcheck">
    </resultMap>

    <select id="getAll" parameterType="cc.model.WorkcheckVO" resultMap="getMap">
        SELECT a.*, b.username FROM WORKCHECK a
        LEFT JOIN EMPLOYEE b
        ON a.employeeid = b.id
        WHERE 1=1
        <if test="username != null and username != ''">
          AND b.username = #{username}
        </if>
        <if test="offset != null and limit != null and  limit != ''">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM WORKCHECK a
        LEFT JOIN EMPLOYEE b
        ON a.employeeid = b.id
        WHERE 1=1
        <if test="username != null and username != ''">
            AND b.username = #{username}
        </if>
    </select>

    <insert id="insert" parameterType="cc.model.Workcheck">
        INSERT INTO WORKCHECK(worktime, employeeid, checkdate, remarks)
        VALUES (#{worktime}, #{employeeid}, #{checkdate}, #{remarks})
    </insert>
    
</mapper>